# Check-in: Data in Hand

My final project is going to be using stats from the website basketball-reference.com.
My question is Which NBA player has been the best over the last 5 seasons (not including the current 2020-2021 season). 
I obtained the Per Game Stats for every player in the NBA from the last five seasons and also the Advanced Statistics as well. Below I will be loading in all 10 files and showing the .head information.

In [3]:
import pandas as pd
import numpy as np

In [8]:
per_game1 = pd.read_csv(r'C:\Users\ADMIN\Desktop\Senior Year 2.0\DataInEmat\15-16.csv')

In [10]:
per_game1.keys()

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [26]:
per_game1_top = per_game1.head()
per_game1_top

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy\acyqu01,PF,25,SAC,59,29,14.8,2.0,3.6,...,0.735,1.1,2.1,3.2,0.5,0.5,0.4,0.5,1.7,5.2
1,2,Jordan Adams\adamsjo01,SG,21,MEM,2,0,7.5,1.0,3.0,...,0.600,0.0,1.0,1.0,1.5,1.5,0.0,1.0,1.0,3.5
2,3,Steven Adams\adamsst01,C,22,OKC,80,80,25.2,3.3,5.3,...,0.582,2.7,3.9,6.7,0.8,0.5,1.1,1.1,2.8,8.0
3,4,Arron Afflalo\afflaar01,SG,30,NYK,71,57,33.4,5.0,11.3,...,0.840,0.3,3.4,3.7,2.0,0.4,0.1,1.2,2.0,12.8
4,5,Alexis Ajinça\ajincal01,C,27,NOP,59,17,14.6,2.5,5.3,...,0.839,1.3,3.3,4.6,0.5,0.3,0.6,0.9,2.3,6.0

In [18]:
per_game2 = pd.read_csv(r'C:\Users\ADMIN\Desktop\Senior Year 2.0\DataInEmat\16-17.csv')

In [20]:
per_game2.keys()

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [27]:
per_game2_top = per_game2.head()
per_game2_top

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Álex Abrines\abrinal01,SG,23,OKC,68,6,15.5,2.0,5.0,...,0.898,0.3,1.0,1.3,0.6,0.5,0.1,0.5,1.7,6.0
1,2,Quincy Acy\acyqu01,PF,26,TOT,38,1,14.7,1.8,4.5,...,0.750,0.5,2.5,3.0,0.5,0.4,0.4,0.6,1.8,5.8
2,2,Quincy Acy\acyqu01,PF,26,DAL,6,0,8.0,0.8,2.8,...,0.667,0.3,1.0,1.3,0.0,0.0,0.0,0.3,1.5,2.2
3,2,Quincy Acy\acyqu01,PF,26,BRK,32,1,15.9,2.0,4.8,...,0.754,0.6,2.8,3.3,0.6,0.4,0.5,0.6,1.8,6.5
4,3,Steven Adams\adamsst01,C,23,OKC,80,80,29.9,4.7,8.2,...,0.611,3.5,4.2,7.7,1.1,1.1,1.0,1.8,2.4,11.3

In [28]:
per_game3 = pd.read_csv(r'C:\Users\ADMIN\Desktop\Senior Year 2.0\DataInEmat\17-18.csv')

In [29]:
per_game3_top = per_game3.head()
per_game3_top

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Álex Abrines\abrinal01,SG,24,OKC,75,8,15.1,1.5,3.9,...,0.848,0.3,1.2,1.5,0.4,0.5,0.1,0.3,1.7,4.7
1,2,Quincy Acy\acyqu01,PF,27,BRK,70,8,19.4,1.9,5.2,...,0.817,0.6,3.1,3.7,0.8,0.5,0.4,0.9,2.1,5.9
2,3,Steven Adams\adamsst01,C,24,OKC,76,76,32.7,5.9,9.4,...,0.559,5.1,4.0,9.0,1.2,1.2,1.0,1.7,2.8,13.9
3,4,Bam Adebayo\adebaba01,C,20,MIA,69,19,19.8,2.5,4.9,...,0.721,1.7,3.8,5.5,1.5,0.5,0.6,1.0,2.0,6.9
4,5,Arron Afflalo\afflaar01,SG,32,ORL,53,3,12.9,1.2,3.1,...,0.846,0.1,1.2,1.2,0.6,0.1,0.2,0.4,1.1,3.4

In [30]:
per_game4 = pd.read_csv(r'C:\Users\ADMIN\Desktop\Senior Year 2.0\DataInEmat\18-19.csv')

In [31]:
per_game4_top = per_game4.head()
per_game4_top

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Álex Abrines\abrinal01,SG,25,OKC,31,2,19.0,1.8,5.1,...,0.923,0.2,1.4,1.5,0.6,0.5,0.2,0.5,1.7,5.3
1,2,Quincy Acy\acyqu01,PF,28,PHO,10,0,12.3,0.4,1.8,...,0.700,0.3,2.2,2.5,0.8,0.1,0.4,0.4,2.4,1.7
2,3,Jaylen Adams\adamsja01,PG,22,ATL,34,1,12.6,1.1,3.2,...,0.778,0.3,1.4,1.8,1.9,0.4,0.1,0.8,1.3,3.2
3,4,Steven Adams\adamsst01,C,25,OKC,80,80,33.4,6.0,10.1,...,0.500,4.9,4.6,9.5,1.6,1.5,1.0,1.7,2.6,13.9
4,5,Bam Adebayo\adebaba01,C,21,MIA,82,28,23.3,3.4,5.9,...,0.735,2.0,5.3,7.3,2.2,0.9,0.8,1.5,2.5,8.9

In [32]:
per_game5 = pd.read_csv(r'C:\Users\ADMIN\Desktop\Senior Year 2.0\DataInEmat\19-20.csv')

In [34]:
per_game5_top = per_game5.head()
per_game5_top

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Steven Adams\adamsst01,C,26,OKC,63,63,26.7,4.5,7.6,...,0.582,3.3,6.0,9.3,2.3,0.8,1.1,1.5,1.9,10.9
1,2,Bam Adebayo\adebaba01,PF,22,MIA,72,72,33.6,6.1,11.0,...,0.691,2.4,7.8,10.2,5.1,1.1,1.3,2.8,2.5,15.9
2,3,LaMarcus Aldridge\aldrila01,C,34,SAS,53,53,33.1,7.4,15.0,...,0.827,1.9,5.5,7.4,2.4,0.7,1.6,1.4,2.4,18.9
3,4,Kyle Alexander\alexaky01,C,23,MIA,2,0,6.5,0.5,1.0,...,NaN,1.0,0.5,1.5,0.0,0.0,0.0,0.5,0.5,1.0
4,5,Nickeil Alexander-Walker\alexani01,SG,21,NOP,47,1,12.6,2.1,5.7,...,0.676,0.2,1.6,1.8,1.9,0.4,0.2,1.1,1.2,5.7

In [35]:
advanced1 = pd.read_csv(r'C:\Users\ADMIN\Desktop\Senior Year 2.0\DataInEmat\15-16Advanced.csv')

In [36]:
advanced1_top = advanced1.head()
advanced1_top

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
0,1,Quincy Acy\acyqu01,PF,25,SAC,59,876,14.7,0.629,0.229,...,NaN,1.8,0.7,2.5,0.137,NaN,-0.2,0.2,-0.1,0.4
1,2,Jordan Adams\adamsjo01,SG,21,MEM,2,15,17.3,0.427,0.167,...,NaN,0.0,0.0,0.0,0.015,NaN,-2.5,9.4,6.9,0.0
2,3,Steven Adams\adamsst01,C,22,OKC,80,2014,15.5,0.621,0.000,...,NaN,4.2,2.3,6.5,0.155,NaN,0.0,0.2,0.2,1.1
3,4,Arron Afflalo\afflaar01,SG,30,NYK,71,2371,10.9,0.531,0.298,...,NaN,1.8,0.9,2.7,0.055,NaN,-1.3,-1.6,-2.9,-0.5
4,5,Alexis Ajinça\ajincal01,C,27,NOP,59,861,13.8,0.514,0.003,...,NaN,0.2,0.9,1.0,0.058,NaN,-3.4,-0.6,-4.0,-0.4

In [38]:
advanced2 = pd.read_csv(r'C:\Users\ADMIN\Desktop\Senior Year 2.0\DataInEmat\16-17Advanced.csv')

In [39]:
advanced2_top = advanced2.head()
advanced2_top

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
0,1,Álex Abrines\abrinal01,SG,23,OKC,68,1055,10.1,0.560,0.724,...,NaN,1.2,0.9,2.1,0.096,NaN,-1.3,-0.4,-1.6,0.1
1,2,Quincy Acy\acyqu01,PF,26,TOT,38,558,11.8,0.565,0.529,...,NaN,0.5,0.5,0.9,0.082,NaN,-1.5,-0.6,-2.1,0.0
2,2,Quincy Acy\acyqu01,PF,26,DAL,6,48,-1.4,0.355,0.412,...,NaN,-0.2,0.0,-0.1,-0.133,NaN,-10.3,-4.1,-14.3,-0.1
3,2,Quincy Acy\acyqu01,PF,26,BRK,32,510,13.1,0.587,0.542,...,NaN,0.6,0.5,1.1,0.102,NaN,-0.6,-0.2,-0.9,0.1
4,3,Steven Adams\adamsst01,C,23,OKC,80,2389,16.5,0.589,0.002,...,NaN,3.3,3.1,6.5,0.130,NaN,-0.2,0.0,-0.2,1.1

In [40]:
advanced3 = pd.read_csv(r'C:\Users\ADMIN\Desktop\Senior Year 2.0\DataInEmat\17-18Advanced.csv')

In [41]:
advanced3_top = advanced3.head()
advanced3_top

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
0,1,Álex Abrines\abrinal01,SG,24,OKC,75,1134,9.0,0.567,0.759,...,NaN,1.3,1.0,2.2,0.094,NaN,-1.9,0.4,-1.5,0.1
1,2,Quincy Acy\acyqu01,PF,27,BRK,70,1359,8.2,0.525,0.800,...,NaN,-0.1,1.1,1.0,0.036,NaN,-2.6,0.1,-2.5,-0.2
2,3,Steven Adams\adamsst01,C,24,OKC,76,2487,20.6,0.630,0.003,...,NaN,6.7,3.0,9.7,0.187,NaN,1.7,-0.6,1.1,2.0
3,4,Bam Adebayo\adebaba01,C,20,MIA,69,1368,15.7,0.570,0.021,...,NaN,2.3,1.9,4.2,0.148,NaN,-1.1,0.7,-0.4,0.6
4,5,Arron Afflalo\afflaar01,SG,32,ORL,53,682,5.8,0.516,0.432,...,NaN,-0.1,0.2,0.1,0.009,NaN,-3.8,-1.5,-5.4,-0.6

In [42]:
advanced4 = pd.read_csv(r'C:\Users\ADMIN\Desktop\Senior Year 2.0\DataInEmat\18-19Advanced.csv')

In [43]:
advanced4_top = advanced4.head()
advanced4_top

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
0,1,Álex Abrines\abrinal01,SG,25,OKC,31,588,6.3,0.507,0.809,...,NaN,0.1,0.6,0.6,0.053,NaN,-3.7,0.4,-3.3,-0.2
1,2,Quincy Acy\acyqu01,PF,28,PHO,10,123,2.9,0.379,0.833,...,NaN,-0.1,0.0,-0.1,-0.022,NaN,-7.6,-0.5,-8.1,-0.2
2,3,Jaylen Adams\adamsja01,PG,22,ATL,34,428,7.6,0.474,0.673,...,NaN,-0.1,0.2,0.1,0.011,NaN,-3.8,-0.5,-4.3,-0.2
3,4,Steven Adams\adamsst01,C,25,OKC,80,2669,18.5,0.591,0.002,...,NaN,5.1,4.0,9.1,0.163,NaN,0.7,0.4,1.1,2.1
4,5,Bam Adebayo\adebaba01,C,21,MIA,82,1913,17.9,0.623,0.031,...,NaN,3.4,3.4,6.8,0.171,NaN,-0.4,2.2,1.8,1.8

In [46]:
advanced5 = pd.read_csv(r'C:\Users\ADMIN\Desktop\Senior Year 2.0\DataInEmat\19-20Advanced.csv')

In [47]:
advanced5_top = advanced5.head()
advanced5_top

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
0,1,Steven Adams\adamsst01,C,26,OKC,63,1680,20.5,0.604,0.006,...,NaN,3.8,2.7,6.5,0.185,NaN,1.9,1.1,2.9,2.1
1,2,Bam Adebayo\adebaba01,PF,22,MIA,72,2417,20.3,0.598,0.018,...,NaN,4.6,3.9,8.5,0.168,NaN,1.4,2.0,3.4,3.3
2,3,LaMarcus Aldridge\aldrila01,C,34,SAS,53,1754,19.7,0.571,0.198,...,NaN,3.0,1.4,4.5,0.122,NaN,1.8,-0.5,1.4,1.5
3,4,Kyle Alexander\alexaky01,C,23,MIA,2,13,4.7,0.500,0.000,...,NaN,0.0,0.0,0.0,-0.003,NaN,-6.1,-3.5,-9.6,0.0
4,5,Nickeil Alexander-Walker\alexani01,SG,21,NOP,47,591,8.9,0.473,0.500,...,NaN,-0.7,0.4,-0.2,-0.020,NaN,-3.2,-1.4,-4.6,-0.4